* {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  font-family: Amatic SC;
}

.App {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
}

.App h1 {
  font-size: 40px;
  margin-top: 5%;
  color: #9835da;;
}

.displayTimer{
  width: 200px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #823cd3;
  border-radius: 30px;
  color: #823cd3;
  font-size: 40px;
  margin: 5px;
}

button {
  width: 80px;
  height: 40px;
  font-size: 20px;
  border: none;
  margin: 5px;
  border-radius: 10px;
  color: #fff;
  background-color: #823cd3;
  cursor: pointer;
  left: auto;
  right: auto;
}

button:focus {
  outline: none;
}